html {
    height: 100%;
}

body{
	background-image:url('images/bg.jpg');
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

#container{
	height: 100%;
	margin:0;
	padding:0;
	border:0;
}

#logo{
	text-align: center;
	margin-top: 10%; 
}

#footer{
    clear: both;
    border: 1px #aaaaaa;
    background: blue;
    color: White;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    height: 100px;
    width: 100%;
}

#homebuttons{
	clear: both;
    border: 1px solid green;
    color: White;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    bottom: 15%;
    height: 100px;
    width: 100%;
}
.leftButton{
	position: absolute;
  	width: 50%;
  	margin-left: 0;
}
.rightButton{
	position: absolute;
  	width: 50%;
  	float:right;
  	right:0px;
  	top: 0px;
}